html,
body {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  background-color: none;
}

.class_game_cell {
  width: 25vmin;
  height: 25vmin;
  text-align: left;
  vertical-align: top;
  font-size: 3.5vmin;
  color: red;
  text-align: center;
}

.class_button_cell {
  background-color: lightgray;
  width: 25vmin;
  height: 10vmin;
  text-align: left;
  vertical-align: middle;
  font-size: 3.5vmin;
  color: Black;
  text-align: center;
}

.class_flag_cell {
  vertical-align: middle;
  text-align: center;
  width: 3.5vmin;
  height: 3.5vmin;
}

#id_game_table {
  margin: 0 auto;
}
#id_game_all_buttons {
  margin: 0 auto;
}

#id_div_info h1{
  margin-left: 1vmin;
  font-size: 4vmin;
}

#id_div_info p{
  margin-left: 1vmin;
  font-size: 3vmin;
}